<p>
<%= f.label(:title) %>
<%= f.text_field(:title) %>
<br />
<%= f.label(:artist) %>
<%= f.text_field(:artist) %>
<br />
<%= f.label(:rating) %>
<br />
<%= f.select :rating, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]%>
</p>  
