<!DOCTYPE html>
<html>
  <head>
    <title>Billboards</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="appnav">
      <%= link_to("Home", root_path)%>
      <%= link_to("Songs", songs_path)%>
      <%= link_to("Billboards", billboards_path)%>
      <%= link_to("Artists", artists_path)%>
    </nav> 
    <%= yield %>
  </body>

</html>

      
